systemLog:
   verbosity: {{ mongo_systemlog_verbose }}
   destination: {{ mongo_systemlog_dest }}
   {% if mongo_systemlog_dest == 'file' -%}
   logAppend: {{ mongo_systemlog_logappend | lower }}
   logRotate: {{ mongo_systemlog_rotate }}
   path: {{ mongo_systemlog_path }}
   {%- endif %} 

storage:
   dbPath: {{ mongo_base_dir }}
   journal:
      enabled: {{ mongo_base_journal | to_nice_json }}
processManagement:
   fork: {{ mongo_process_fork | to_nice_json }}
   {% if mongo_process_pid is defined and mongo_process_pid != '' -%}
   pidFilePath: {{ mongo_process_pid }}
   {%- endif %}


net:
   bindIp: {{ mongo_net_bind }}
   port: {{ mongo_net_port }}
   maxIncomingConnections: {{ mongo_net_maxconn }}

setParameter:
   enableLocalhostAuthBypass: {{ mongo_setparameter_bypass | to_nice_json }}


security:
   authorization: {{ mongo_authorization }}
   {% if mongo_authorization == 'enabled' and mongo_rs_name -%}
   keyFile: {{ mongo_key }}
   {%- endif %}

replication:
   replSetName: {{ mongo_rs_name }}
